# Copy this file to .env and fill values before running the bot
# Example:
# BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
# GROQ_KEY=gsk_xxx
# GROQ_API_KEY=gsk_xxx
# HF_API_KEY=hf_xxx

BOT_TOKEN=
GROQ_KEY=
GROQ_API_KEY=
HF_API_KEY=
MAIN_ADMIN=7852430043
